body {
  background-color: rgb(239, 240, 244);
  margin: 0%;
}

.toolbar {
  background-color: rgb(33, 36, 115);
  position: relative;
  height: 59px;
  width: 1120px;
  padding: 0px 400px 0px 400px;
}

.logo_img {
  position: absolute;
  margin: 17px 16px 17px 16px;
}

.header_logo {
  background-color: #fff;
  width: 156px;
  height: 110px;
  position: absolute;
}

.toolbar button {
  position: absolute;
  margin: 8px 0px 0px 0px;
  font-size: 15px;
  border-radius: 20px;
  border: 5px;
  top: 0px;
}

#signin {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-width: 1px;
  background-color: rgb(33, 36, 115);
  width: 180px;
  height: 40px;
  left: 69%;
}

#signup {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 36, 115);
  width: 130px;
  height: 40px;
  left: 62%;
}

#signin:hover { 
  background: rgb(255, 255, 255);
  color: rgb(0, 255, 255);
  transition: 0.35s;
}
#signup:hover { 
  background: rgb(255, 255, 255);
  color: rgb(0, 255, 255);
  transition: 0.35s;
}


.head_menu {
  width: 800px;
  height: 28px;
  background-color: rgb(33, 36, 115);
}

.head_menu ul {
  margin: 0% 0% 0% 26%;
  padding: 15px 0px 0px 0px;
}

.head_menu ul, ul li, ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.head_menu ul {
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.head_menu ul li a {
  min-height: 28px;
  text-decoration: none;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.head_menu li:hover { text-decoration: underline ; }


.toolbar_bottom {
  width: 1920px;
  height: 50px;
  background-color: white;
  margin: 0px 0px 70px 0px;
}

.toolbar_bottom ul {
  margin: 0% 0% 0% 28%;
  padding: 0;
}

.toolbar_bottom ul, ul li, ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
}

.toolbar_bottom ul {
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.toolbar_bottom ul li a {
  min-height: 50px;
  min-width: 200px;
  text-decoration: none;
  color: #333;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.change_form {
  display:flex;
  flex-direction: row;
  left: 21%;
  position: relative;
  margin: 1% 0% 0% 0%;
  width: 1100px;
  height: 2600px;
  background-color: rgb(239, 240, 244);
}

.change1, .change2 {
  width: 320px;
  padding: 0px 10px 0px 0px;
}

.change_title1 {
  background-color: rgb(81, 100, 202);
  width: 320px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 15px 0px 0px 0px;
}
.change_title2 {
  background-color: rgb(81, 100, 202);
  width: 320px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 15px 0px 0px 0px;
}

.change_title3 {
  background-color: #212473;
  width: 350px;
  height: 57px;
  color: #fff;
  font-size: 16px;
  border-radius: 6px 6px 0 0;
  padding: 12px 5px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.change_body1 {
  display:flex;
  flex-direction: column;
  width: 320px;
  background-color: rgb(239, 240, 244);
}

.change_body2 {
  display:flex;
  flex-direction: column;
  width: 320px;
  background-color: rgb(239, 240, 244);
}

.change_body3 {
  background-color: #fff;
  width: 350px;
  height: 500px;
}

.change_form3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 3px 15px 15px;
}

.text1_form3 {
  margin: 21px 0px 14px 17px;
  padding: 0px;
  font-size: 14px;
}

.text_form3 {
  margin: 0px 0px 5px 18px;
  padding: 0px;
  font-size: 12px;
  color: rgb(153, 153, 153);
}

.text2_form3 {
  margin: 12px 0px 0px 0px;
  padding: 0px;
  font-size: 16px;
}

/*.change_form*/ .change_body1 button, .change_body2 button{
  font-size: 15px;
  margin: 0px 15px 4px 0px;
  padding: 6px 14px 6px 14px;
  height: 63px;
  width: 320px; 
  background-color: rgb(255, 255, 255);
  border: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.change_body1 img {
  width: 50px; 
  height: 50px;
  border-radius: 8px;
  margin: 0px 20px 0px 0px;
}

.change_body2 img {
  width: 50px; 
  height: 50px;
  border-radius: 8px;
  margin: 0px 20px 0px 0px;
}

/*.change_form*/.change_body1 button:hover, .change_body2 button:hover { background: rgb(232, 232, 232); }
/*.change_form*/.change_body1 button:active, .change_body2 button:active { background: rgb(232, 232, 232); } 


.modal1, .modal2{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content1 {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    width: 280px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 7px;
}

.modal-content2 {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    width: 280px;
    height: 440px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 7px;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close1, .close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
}

.close1:hover, .close2:hover,
.close1:focus, .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header1, .modal-header2 {
    padding: 2px 16px;
    background-color: #212473;
    color: white;
    font-size: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.modal-body1, .modal-body2 {padding: 2px 16px;}

.modal-body1 p{
  margin-block-start: 12px;
  margin-block-end: 5px;
  font-size: 15px;
  position: relative;
  left: 10%;
}

.modal-body2 p{
  margin-block-start: 12px;
  margin-block-end: 5px;
  font-size: 15px;
  position: relative;
  left: 10%;
}

.modal-header1 p{
  margin-block-start: 10px;
  margin-block-end: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.modal-header2 p{
  margin-block-start: 10px;
  margin-block-end: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.signin_form_button {
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #0074e4; 
  width: 190px;
  height: 40px;
  border: 0px;
  border-radius: 25px;
  position: relative;
  left: 12%;
}

.change_button {
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #0074e4; 
  width: 190px;
  height: 40px;
  border: 0px;
  border-radius: 25px;
  position: relative;
  left: 20%;
}

.signup_form_button {
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #0074e4; 
  width: 190px;
  height: 40px;
  border: 0px;
  border-radius: 25px;
  position: relative;
  left: 12%;
  margin: 15px 0px 0px 0px;
}

.modal1 input, .modal2 input {
  position: relative;
  left: 5%;
  width: 200px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid #ddd;
  margin-bottom: 10px; 
  padding: 7px 20px 7px 20px;
  font-size: 14px;
}

.change_form3 input {
  position: relative;
  width: 320px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #ddd;
  margin-bottom: 10px; 
  padding: 7px 20px 7px 20px;
  font-size: 14px;
}

.dialog_window {
  position: fixed;
  width: 340px;
  height: 530px;
  background: white;
  outline: 1px solid #000;
  right: 2%;
  top: 50%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.dialog_window_head {
  position: absolute;
  width: 340px;
  height: 60px;
  background: rgb(1, 48, 204);
  left: 0%;
  top: 0%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.dialog_window_body {
  position: absolute;
  top: 60px;
  width: 340px;
  height: 430px;
}

footer {
  width: 1520px;
  height: 120px;
  background: #212473;
  position: relative;
  left: 0px;
  bottom: 0px;
  padding: 10px 200px 10px 200px;
}

footer p{
  color: white;
  text-align: center;
}